<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" http-equiv="Access-Control-Allow-Origin" content="*">
        <title>Dotabase</title>
        <link rel="stylesheet" href="static/dotabasesite.css" type="text/css"/>
    </head>
    <body>
        <div>
            <div class="shadow orangecolor" id="dotaBaseHeader">Dotabase</div>
        </div>
        <br><br><br><br>
        <p class="redcolor resize200">Welcome!</p>
        <p id="welcomeTag">Use the graph below to see the relationship<br>between different varibles in a Dota game</p>
        <div id="linechart_material" style="width: 900px; height: 500px; position: absolute; top: 230px; left: 350px"></div>
        <button id="generateButton" type="button">Generate!</button>
        <script>function generate(){document.getElementById("linechart_material").drawCircle()}</script>
        <script type="text/javascript" src="static/buttonScript.js"></script>
        <select id="xAxisDropBox">
            <option value="1">Start Time</option>
            <option value="2" selected>Game Duration</option>
            <option value="3">Radiant Tower Health</option>
            <option value="4">Dire Tower Health</option>
            <option value="6">Radiant Barracks Health</option>
            <option value="5">Dire Barracks Health</option>
            <option value="14">Radiant Structure Health</option>
            <option value="13">Dire Structure Health</option>
            <option value="12">Combined Structure Health</option>
            <option value="7">First Blood Time</option>
            <option value="11">Positive Votes</option>
            <option value="10">Negative Votes</option>
        </select>
        <select id="yAxisDropBox">
            <option value="1">Start Time</option>
            <option value="2">Game Duration</option>
            <option value="3">Radiant Tower Health</option>
            <option value="4">Dire Tower Health</option>
            <option value="6">Radiant Barracks Health</option>
            <option value="5">Dire Barracks Health</option>
            <option value="14" selected>Radiant Structure Health</option>
            <option value="13">Dire Structure Health</option>
            <option value="12">Combined Structure Health</option>
            <option value="7">First Blood Time</option>
            <option value="11">Positive Votes</option>
            <option value="10">Negative Votes</option>
        </select>
        <p class="resize140" id="topRight">What is dota?<a href="http://perlman.mathcs.carleton.edu:5207/help">
            <br>
            <img border="2" alt="Question mark" src="static/question.png" width="80" height="80"></a>
        </p>
        <div>
            <canvas id="js_scatterplot" width="900" height="500" style="border:1px solid #000000;"></canvas>
            <script type="text/javascript" src="static/newgraphingscript.js"></script>
        </div>
    </body>
</html>
